[core]
	editor = nano
[user]
	name = {{ (bitwardenFields "item" "Dotfiles Configuration").git_name.value }}
	email = {{ (bitwardenFields "item" "Dotfiles Configuration").git_email.value }}
	signingkey = /Users/{{ .chezmoi.username }}/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[init]
	defaultbranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[rerere]
	enabled = true
[column]
	ui = auto
[alias]
	pushf = push --force-with-lease
	bu = "!git branch -u origin/$(git symbolic-ref --short HEAD)"
[maintenance]
	auto = false
	strategy = incremental
[rebase]
	updateRefs = true
	autosquash = true
[merge]
    ff = only
[gitbutler]
	aiModelProvider = anthropic
	aiAnthropicKeyOption = butlerAPI
